### Data exploration & cleaning

In [1]:
import pandas as pd
import numpy as np

In [5]:
#Importing dataset
data = pd.read_csv(r'C:\Users\matui\Downloads\Final_project_data\League of Legends Champion Stats 12.11.csv', sep=';')

In [6]:
#First look
data

,Name,Class,Role,Tier,Score,Trend,Win %,Role %,Pick %,Ban %,KDA
0,Aatrox,Fighter,TOP,God,69.36,3.20,48.94%,92.64%,7.31%,5.43%,1.96
1,Ahri,Mage,MID,God,73.72,-5.74,50.04%,95.11%,9.83%,8.59%,2.63
2,Akali,Assassin,MID,S,58.67,2.63,48.70%,68.12%,6.26%,11.79%,2.39
3,Akali,Assassin,TOP,B,43.83,-0.89,47.58%,30.92%,2.67%,11.79%,2.05
4,Akshan,Marksman,MID,B,46.91,-0.64,49.50%,58.88%,2.93%,7.60%,2.22
...,...,...,...,...,...,...,...,...,...,...,...
236,Ziggs,Mage,ADC,D,35.08,7.31,51.29%,57.15%,1.39%,0.32%,2.54
237,Zilean,Support,MID,A,52.69,-1.77,52.49%,21.28%,1.05%,2.71%,3.57
238,Zilean,Support,SUPPORT,A,49.18,-5.34,49.80%,75.08%,3.65%,2.71%,3.09
239,Zoe,Mage,MID,A,48.25,-0.96,48.23%,91.87%,3.82%,1.73%,2.51
240,Zyra,Mage,SUPPORT,A,49.39,4.09,52.49%,90.71%,3.15%,1.91%,2.24

In [7]:
data.info()
#11 cols, 240 rows, apparently no missing values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 241 entries, 0 to 240
Data columns (total 11 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    241 non-null    object
 1   Class   241 non-null    object
 2   Role    241 non-null    object
 3   Tier    241 non-null    object
 4   Score   241 non-null    float64
 5   Trend   241 non-null    float64
 6   Win %   241 non-null    object
 7   Role %  241 non-null    object
 8   Pick %  241 non-null    object
 9   Ban %   241 non-null    object
 10  KDA     241 non-null    float64
dtypes: float64(3), object(8)
memory usage: 20.8+ KB

In [8]:
#Double check missing values
data.isna().sum()

Name      0
Class     0
Role      0
Tier      0
Score     0
Trend     0
Win %     0
Role %    0
Pick %    0
Ban %     0
KDA       0
dtype: int64

In [9]:
data.describe()

            Score       Trend         KDA
count  241.000000  241.000000  241.000000
mean    50.000249   -0.341203    2.366722
std     12.737547    9.161103    0.423816
min     22.550000  -28.040000    1.450000
25%     42.280000   -4.340000    2.090000
50%     48.080000   -0.040000    2.340000
75%     55.200000    3.630000    2.610000
max     94.930000   64.580000    4.370000